.about-container {
    display: flex;
    height: 99%;
    margin-top: 1%;
    font-family: sans-serif;
    /* border: red 2px solid; */
}

.image-section {
    flex: 1;
    width: 50%;
    height: 100%;
    padding-left: 2%;
    padding-right: 2%;
    /* border: green 2px solid; */
}

.text-section {
    flex: 1;
    width: 50%;
    height: 100%;
    color: white;
    align-content: center;
    /* border: yellow 2px solid; */
}

.selected-image-container {
    /* border: red 2px solid; */
    height: 40%;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    align-content: center;
}

.selected-image {
    max-width: 100%;
    max-height: 100%;
    width: 50%;
    /* margin-left: 30%; */
    box-shadow: 2px 2px 5px black;
}

.image-grid {
    /* border: yellow 2px solid; */
    height: 60%;
    align-content: center;
    text-align: center;
}

.grid-image {
    height: 30%;
    width: 30%;
    margin: 1%;
    box-shadow: 2px 2px 5px black;
}

.text-section p {
    font-size: 2em;
    margin-top: 5%;
}

.text-section .currentJob {
    margin-top: 30%;
}


.text-header {
    font-weight: 900;
    font-family: sans-serif;
    font-size: 2em;
}