.home-page {
    text-align: center;
    color: white;
    padding-top: 10%;
}

h1 {
    font-weight: bold;
}

h3 {
    font-family:'Courier New', Courier, monospace
}

h6 {
    font-family:'Courier New', Courier, monospace;
    font-size: small;
}

.home-body {
    height: 90%;
    padding-top: 5%;
}

.slideshow {
    width: 50%;
    height: 90%;
    display: inline-block;
}

.slideshow-item {
    width: 100%;
    height: 100%;
    border: none !important;
}

.slideshow-image {
    max-width: 90%;
    object-fit: fill;
}

.home-text {
    height: 100%;
    text-align: start;
    font-size: 2em;
    font-weight: bold;
}
