.home-page {
    text-align: center;
    color: white;
    padding-top: 10%;
}

h1 {
    font-weight: bold;
}

h3 {
    font-family:'Courier New', Courier, monospace
}

h6 {
    font-family:'Courier New', Courier, monospace;
    font-size: small;
}
