.contact-containter {
    display: block;
    padding-top: 2%;
}

.contactButton-containter {
    display: inline;
    border-radius: 5%;
    padding: 1%;
    margin-left: 90%;
}

.btn-secondary {
    font-size:larger !important;
    font-weight: 600 !important;
    background-color: #CFCFCF !important;
    color: black !important;
}

.contact-button:hover {
    background-color: rgba(154, 153, 153, 0.923) !important;
}