.navBar-body {
    justify-items: center;
    box-shadow: 5px 3px 5px black;
    border-radius: 0.25%/1.25%;
    width: fit-content;
}

.navBar-drawer {
    height: 100%;
}

.MuiDrawer-paper {
    max-height: 100%;
    box-shadow: 5px 3px 5px black;
    border-radius: 1%;
    width: 19vw;
    justify-content: center;
}

/* hides scrollbar in chrome, safari, and opera */
.MuiDrawer-paper::-webkit-scrollbar {
    display: none;
}

/* hides scrollbar in IE and Edge */
.MuiDrawer-paper {
    -ms-overflow-style: none;
}

.navBar-link {
    display: block;
    width: 75%;
    height: 3em;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: larger;
    align-content: center;
    margin-bottom: 5%;
    border-radius: 1%/5%;
}

.navBar-icon {
    margin-right: 10%;
}

.navBar-link:hover {
    background-color: rgba(154, 153, 153, 0.366);
}

.navbar-image-container {
    padding-top: 20%;
    align-self: center;
}

.profile-image {
    border: #8c59aa 3px solid;
    box-shadow: 5px 3px 5px black;
}

.navbar-link-container {
    margin-top: 20%;
    justify-items: center;
}

.navBar-icon-container {
    justify-items: center;
    margin-top: 15%;
    align-self: center;
}

.nav-icon-row {
    display: block;
    width: 12em;
    padding-left: 20%;
    margin-bottom: 10%;
}

.nav-icon-link {
    display: inline;
    padding-top: 6%;
    padding-bottom: 10%;
    margin: 10%;
}

.nav-icon-link:hover {
    background-color: rgba(154, 153, 153, 0.366);
}

.active {
    border: #8c59aa 2px solid;
    color: #8c59aa;
    box-shadow: 2px 2px 5px black;
}
