.navBar-body {
    background-color: #CFCFCF;
    height: 100%;
    justify-items: center;
}

.navBar-link {
    display: block;
    /*border: red 1px solid;*/
    width: 90%;
    height: 3em;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10%;
    padding-top: 5%;
}

.navbar-image-container {
    padding-top: 20px;
}

.navbar-link-container {
    margin-top: 20%;
    justify-items: center;
}