.navBar-body {
    background-color: #CFCFCF;
    height: 100%;
    justify-items: center;
}

.navBar-link {
    display: block;
    /* border: red 1px solid; */
    width: 90%;
    height: 3em;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: larger;
    margin-bottom: 5%;
    padding-top: 5%;
}

.navBar-icon {
    margin-right: 10%;
}

.navBar-link:hover {
    background-color: rgba(154, 153, 153, 0.366);
}

.navbar-image-container {
    padding-top: 20%;
}

.navbar-link-container {
    margin-top: 40%;
    justify-items: center;
}

.navBar-icon-container {
    justify-items: center;
    margin-top: 60%;
}

.nav-icon-link {
    display: inline;
    padding-top: 6%;
    padding-bottom: 10%;
}

.nav-icon-link:hover {
    background-color: rgba(154, 153, 153, 0.366);
}